/*Light Blue
#92B1CD

Dark Blue
#41677A

Light Tan
#f2f1eb

Dark Gray
#4D4E53

Light Gray
#9A9B9D
*/


header {
    align-items: center;
    background: #f2f1eb;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 9px 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 18px;
    width: 100%;
}

.site-logo {
    width: 230px;
}

nav ul {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a {
    font-family: arial, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    padding: 9px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-button, nav a {
    color: #41677A;
}

.navigation-button:hover, nav a:hover {
    color: #92B1CD;
}

.navigation-button {
    cursor: pointer;
    font-size: 30px;
}

header input {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 768px){
    .navigation-button {
        display: none;
    }
}


/* Sreens smaller than 768px */
@media screen and (max-width: 767px){
    header {
        position: relative;
    }
    
    nav input[type=checkbox]:checked + ul {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    nav li {
        display: flex;
        width: 100%;
    }
    nav a {
        background: #f2f1eb;
        text-align: center;
        width: 100%;
    }
    
}
